*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Roboto", serif;
    background-color: black;
    color: white;

}

.navbar{
    height: 15vh;
    padding: 0 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    height: 70%;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbar ul li{
    margin-left: 5vw;
}