*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Roboto", serif;
    color: white;

}

.navbar{
    height: 15vh;
    padding: 0 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img{
        height: 70%;
    }

    & ul{
        display: flex;
        flex-direction: row;
        list-style: none;

        & li{
            margin-left: 5vw;
        }
    }
}